body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin-top: 50px;
}

h1, h2 {
    text-align: center;
}

h1 {
    margin-bottom: 5px;
    font-size: 30px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.form-group label {
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group .input-wrapper {
    width: calc(50% - 10px); /* Two inputs per row with some space between */
    margin-right: 10px;
    margin-bottom: 15px;
}

.form-group .input-wrapper:nth-child(2n) {
    margin-right: 0;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #ffff19;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}
