body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa; /* Color de fondo */
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  text-align: center;
}

.form-signin img {
  width: 100px; /* Ancho de la imagen */
  height: 100px; /* Alto de la imagen */
  object-fit: cover; /* Escalar imagen manteniendo la relación de aspecto */
  border-radius: 50%; /* Para hacer las imágenes cuadradas */
  margin-bottom: 20px;
}

.form-floating {
  margin-bottom: 10px;
  position: relative;
}

.form-floating input {
  padding: 30px 10px 10px; /* Padding ajustado para dejar espacio para el título encima del input */
}

.form-floating label {
  color: #007bff; /* Color del texto del título */
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  text-align: left;
  font-size: 0.9em;
  pointer-events: none;
}

/* Añadido para ajustar la posición del campo de contraseña */
#password {
  margin-top: 45px;
}

.btn-primary {
  background-color: #007bff; /* Color de fondo del botón */
  border-color: #007bff; /* Color del borde del botón */
}

.btn-primary:hover {
  background-color: #0056b3; /* Color de fondo del botón al pasar el mouse */
  border-color: #0056b3; /* Color del borde del botón al pasar el mouse */
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.5); /* Sombra al enfocar el botón */
}

.error-message {
  color: #dc3545; /* Color rojo para el mensaje de error */
  font-size: 0.9em; /* Tamaño de fuente del mensaje de error */
  margin-top: 10px; /* Espacio superior */
  background-color: #f8d7da; /* Color de fondo */
  border: 1px solid #f5c6cb; /* Borde */
  border-radius: 5px; /* Borde redondeado */
  padding: 10px; /* Espaciado interno */
  animation: pulse 1s infinite alternate; /* Animación de pulso */
}



