{%include 'admin/cabecera.html'%}

<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            Detalles del Producto
          </div>
          <div class="card-body">
            <h5 class="card-title">{{producto[1]}}</h5>
            <br>
            
            <!-- En algunos casos, especialmente si esta página se está sirviendo en
               una subruta, esta ruta 
              relativa puede no apuntar al lugar correcto.
              Para solucionar este problema, puedes utilizar la función url_for() de 
              Flask para generar la ruta a la imagen. Esta función generará 
              la ruta correcta independientemente de dónde se sirva la página.

Aquí está cómo puedes hacerlo: -->
            <img src="{{ url_for('static', filename='img/' + producto[2]) }}" class="card-img-top" alt="Producto">

            
            <h5 class="card-title">DESCRIPCION DEL PRODUCTO</h5>
            <p class="card-text"> {{producto[5]}}</p>
            <h5 class="card-title">PRECIO</h5>
            <p class="card-text">Q {{producto[3]}}</p>


            <form action="comprar/" method="post">


              <!-- AGREGAR CANTIDAD DE PRODUCTOS  -->
              <div class="form-group">
                <label for="cantidad">Cantidad:</label>
                
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button" id="minus">-</button>
        </div>
        <input type="text" class="form-control text-center" id="cantidad" value="1" readonly>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="plus">+</button>
        </div>
      </div>
    </div>
  </div>
</div>





              

              <!-- AGREGAR AL CARRITO  -->
              <button type="submit" class="btn btn-primary">Agregar al Carrito</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{%include 'admin/pie.html'%}