{%include 'admin/cabecera.html'%}





<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center mb-4">¡Bienvenido!</h1>
        <p class="text-center">Esta es una página simple de presentación utilizando HTML y Bootstrap.</p>
        <p class="text-center">¡Espero que te guste!</p>
      </div>
    </div>
</div>




  






    <div class="row mt-5">
      {% for producto in productos %}
      <div class="col-md-3">
        <div class="card">
          <img src="img/{{ producto[2] }}" class="card-img-top" alt="Producto">
          <div class="card-body">
            <h5 class="card-title">{{producto[1]}}</h5>
            <p class="card-text">Q {{producto[3]}}</p>
            <a href="#" class="btn btn-primary">Ver más</a>
            <a href="#" class="btn btn-success">comprar</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>








{%include 'admin/pie.html'%}