{%include 'admin/cabecera.html'%}


<div class="mountain-bg">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class=" mb-4">¡Bienvenido a BIKE ZONE!</h1>
        <p class="text-center">Explora nuestras últimas bicicletas y encuentra la perfecta para ti</p>
        <p class="text-center">¡Espero que te guste!</p>
      </div>
    </div>
  </div>
</div> 












  






    <div class="row mt-5">

      <h1 class="text-center">Catálogo de bicicletas</h1>
      {% for producto in productos %}
      <div class="col-md-3">
        <div class="card">
          <img src="static/img/{{ producto[2] }}" class="card-img-top" alt="Producto">

          <div class="card-body">
            <h5 class="card-title">{{producto[1]}}</h5>
            <p class="card-text">Q {{producto[3]}}</p>
            <a href="/descripcion/{{producto[0]}}" action="/descripcion/{{producto[0]}}" class="btn btn-success">Ver más</a>
            
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  <div class="row mt-5">
      <div class="col-md-12">
          <h1 class="custom-text">¿Qué es Bike Zone?</h1>
          <p class="custom-text">Bike Zone es una tienda de bicicletas en la que podrás encontrar una gran variedad de bicicletas de diferentes estilos y precios. ¡Esperamos que encuentres la bicicleta perfecta para ti!</p>
          <button class="btn-contactenos" onclick="location.href='/contactenos'">Contáctenos</button>
      </div>
  </div>









{%include 'admin/pie.html'%}