{%include 'admin/cabecera.html'%}




<!-- CRUD  PARA AGREGAR PRODUCTOS

-->

<!-- CODIGO  -->
<div class="form-container">
<form action="/agregar_producto" method="POST" enctype="multipart/form-data">
    
    
    
    
    <!-- PRODUCTO -->
    <div class="mb-3">
        <label for="" class="form-label">Producto</label>
        <input
            type="text"
            class="form-control"
            name="producto"
            id="producto"
            aria-describedby="helpId"
            placeholder="nombre producto"
        />
    </div>
    
    
    
    <!-- IMAGEN PRODUCTO  -->
    
    <div class="mb-3">
        <label for="" class="form-label">Imagen</label>
        <input
            type="file"
            class="form-control"
            name="imagen"
            id="imagen"
            aria-describedby="helpId"
            placeholder="seleccione imagen producto"
        />
    </div> 
    
    
    <!-- PRECIO  -->
    <div class="mb-3">
        <label for="" class="form-label">Precio </label>
        <input
            type="text"
            class="form-control"
            name="precio"
            id="precio"
            aria-describedby="helpId"
            placeholder="Precio producto"
        />
    </div>
    
    <!--  CANTIDAD-->
    <div class="mb-3">
        <label for="" class="form-label">Cantidad </label>
        <input
            type="text"
            class="form-control"
            name="cantidad"
            id="cantidad"
            aria-describedby="helpId"
            placeholder=" cantidad producto"
        />
    </div>
 <!--  DESCRIPCION-->
 <div class="mb-3">
    <label for="" class="form-label">descripcion producto </label>
    <input
        type="text"
        class="form-control"
        name="descripcion"
        id="descripcion"
        aria-describedby="helpId"
        placeholder=" cantidad producto"
    />
</div>
    
    <button
        type="submit"
        class="btn btn-primary"
    >
        ENVIAR
    </button>
    
    
    
    </form>
</div>


